<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product Id="*" UpgradeCode="26ccb1bb-aeb3-45ff-a872-d8fce016f610" 
            Name="OMIP" Version="0.0.1" Manufacturer="OMIP Authors" Language="1033">
      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLDIR" Name="OMIP">
               <Component Id="ApplicationFiles" Guid="f7e05527-0ebc-4b23-9375-7f4edc056644">
                  <File Id="ApplicationFile1" Source="..\omip.exe"/>
               </Component>
            </Directory>
         </Directory>

         <Directory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuSubfolder" Name="OMIP">
               <Component Id="ApplicationShortcuts" Guid="de89f556-769b-42c6-8528-999709c19427">
                  <Shortcut Id="ApplicationShortcut1" Name="OMIP" Description="OMIP" 
                            Target="[INSTALLDIR]OMIP.exe" WorkingDirectory="INSTALLDIR"/>
                  <RegistryValue Root="HKCU" Key="Software\OMIP" 
                            Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                  <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
               </Component>
            </Directory>
         </Directory>
      </Directory>

      <Feature Id="DefaultFeature" Level="1">
         <ComponentRef Id="ApplicationFiles"/>
         <ComponentRef Id="ApplicationShortcuts"/>
      </Feature>


    <!-- Step 2: Add UI to your installer / Step 4: Trigger the custom action -->
    <WixVariable Id="WixUILicenseRtf" Value="omip_license.rtf" />
    <UI>
        <UIRef Id="WixUI_Minimal" />
        <Publish Dialog="ExitDialog" 
            Control="Finish" 
            Event="DoAction" 
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch OMIP" />

    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[INSTALLDIR]OMIP.exe" />
    <CustomAction Id="LaunchApplication" 
        BinaryKey="WixCA" 
        DllEntry="WixShellExec"
        Impersonate="yes" />

   </Product>
</Wix>