<?xml version="1.0"?>
<?define ProductVersion = "0.0.5"?>
<?define ProductUpgradeCode = "b405227c-d065-4478-8f21-1a90220f5617"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product Id="*" UpgradeCode="26ccb1bb-aeb3-45ff-a872-d8fce016f610" 
            Name="omip" Version="0.0.5" Manufacturer="https://github.com/Wilm0rien/omip" Language="1033">
      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

      <Upgrade Id="$(var.ProductUpgradeCode)">
         <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
         <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" 
                         Property="OLDERVERSIONBEINGUPGRADED"/>     
      </Upgrade>
      <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLDIR" Name="omip">
               <Component Id="ApplicationFiles" Guid="f7e05527-0ebc-4b23-9375-7f4edc056644">
                  <File Id="ApplicationFile1" Source="..\omip.exe"/>
                  <File Id="ApplicationFile2" Source="omip_license.rtf"/>
                  <File Id="ApplicationFile3" Source="..\COPYING"/>
                  <File Id="ApplicationFile4" Source="omip_src.zip"/>
                  <File Id="ApplicationFile5" Source="..\third_party_license.md"/>
               </Component>
            </Directory>
         </Directory>

         <Directory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuSubfolder" Name="omip">
               <Component Id="ApplicationShortcuts" Guid="de89f556-769b-42c6-8528-999709c19427">
                  <Shortcut Id="ApplicationShortcut1" Name="omip" Description="omip" 
                            Target="[INSTALLDIR]omip.exe" WorkingDirectory="INSTALLDIR"/>
                  <RegistryValue Root="HKCU" Key="Software\omip" 
                            Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                  <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
               </Component>
            </Directory>
         </Directory>
      </Directory>

      <InstallExecuteSequence>
         <RemoveExistingProducts After="InstallValidate"/>
      </InstallExecuteSequence>

      <Feature Id="DefaultFeature" Level="1">
         <ComponentRef Id="ApplicationFiles"/>
         <ComponentRef Id="ApplicationShortcuts"/>
      </Feature>


    <!-- Step 2: Add UI to your installer / Step 4: Trigger the custom action -->
    <WixVariable Id="WixUILicenseRtf" Value="omip_license.rtf" />
    <UI>
        <UIRef Id="WixUI_Minimal" />
        <Publish Dialog="ExitDialog" 
            Control="Finish" 
            Event="DoAction" 
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch omip" />

    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[INSTALLDIR]omip.exe" />
    <CustomAction Id="LaunchApplication" 
        BinaryKey="WixCA" 
        DllEntry="WixShellExec"
        Impersonate="yes" />

   </Product>
</Wix>